<?xml version="1.0"?>
<launch>
    <arg name ="rosbag_file" default="/mnt/c/wslShared/Robotics/lidar/lidar-imu-slam/env_ws/bag/rad_test_1.bag"/>
    <!--Load parameter file that has ros parameters-->

    <!--Launch module-->
    <!-- <node pkg="limu" type="odom_run" name="odom_run" output="screen"/> -->

    <!--Launch rosbag-->
    <node pkg="rosbag" type="play" name="player" output="screen" args="--clock $(arg rosbag_file)"/>

</launch>